.form-group {
    margin-left: 3px
}

p.help-block {
    display: none;
}

button.showForm {
    position: fixed;
    right: 0;
    background-color: #DDF;
    border-color: blue;
    border-radius: 6px;
    transform-origin: right bottom;
    transform: rotate(-90deg)
}

#showItemForm {
    top: 15%;
}

#showCategoryForm {
    top: 55%;
}

#itemForm, #categoryForm {
    width: 75%;
    left: 12.5%;
}

#itemForm {
    z-index: 50;
}

#categoryForm {
    z-index: 100;
}


#total {
        position: fixed;
        right:0;
        bottom:0;
        padding:15px;
        border-radius: 4px;
        border: lightgrey solid 1px;
}
